@media (max-width: 767px)
{
    body{
        background-image: url("LogoText.jpg")
        /* background-position: center center; */
        background-size: cover;
    }
    h1{
        font-weight: bold;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }
    p{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }

}

@media (min-width: 768px)
{
    body{
        background-image: url("LogoFull.jpg");
        /* background-position: center center; */
        background-size: cover;
    }
    h1{
        font-size: 80px;
        font-weight: bold;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }
    p{
        font-size: 28px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }
}